In [50]:
import pandas as pd
import numpy as np
%matplotlib inline

from sklearn.metrics import mean_squared_log_error
from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor

In [51]:
%%time
data = pd.read_csv('DATA\c13-9.csv',delimiter=";",decimal=",")

Wall time: 743 ms

In [52]:
data.head()

,NUM,KEYFIELD,CAMPAIGN,COORDLEVEL,"ROUND(AWARDSALES,2)",LOA,STAFF,PREVSTAFF,"ROUND(RETURNSRUR,2)"
0,1,C0100006,N17-13,3,694.86,104,20,23,0.0
1,2,C0100048,N17-13,3,655.97,104,11,12,0.0
2,3,C0100052,N17-13,5,1197.70,104,27,24,-129.0
3,4,C0100062,N17-13,0,28.45,104,2,1,0.0
4,5,C0100074,N17-13,5,1461.05,104,37,34,0.0

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741536 entries, 0 to 741535
Data columns (total 9 columns):
NUM                    741536 non-null int64
KEYFIELD               741536 non-null object
CAMPAIGN               741536 non-null object
COORDLEVEL             741536 non-null int64
ROUND(AWARDSALES,2)    741536 non-null float64
LOA                    741536 non-null int64
STAFF                  741536 non-null int64
PREVSTAFF              741536 non-null int64
ROUND(RETURNSRUR,2)    741536 non-null float64
dtypes: float64(2), int64(5), object(2)
memory usage: 50.9+ MB

In [54]:
data = data.assign(ID=(data['KEYFIELD']).astype('category').cat.codes)

In [55]:
data = data.assign(CAMP=(data['CAMPAIGN']).astype('category').cat.codes)

In [56]:
data.drop(['NUM','KEYFIELD','CAMPAIGN'], axis=1,inplace = True)

In [57]:
data.columns = ['LEVEL', 'AWARD', 'LOA', 'STAFF', 'PREVSTAFF','RETURNS','ID','CAMP']

In [58]:
data.head()

   LEVEL    AWARD  LOA  STAFF  PREVSTAFF  RETURNS   ID  CAMP
0      3   694.86  104     20         23      0.0  392     0
1      3   655.97  104     11         12      0.0  393     0
2      5  1197.70  104     27         24   -129.0  394     0
3      0    28.45  104      2          1      0.0  395     0
4      5  1461.05  104     37         34      0.0  396     0

In [59]:
data.to_csv('DATA/c13_9_prep.csv', encoding='utf-8')