In [22]:
import pandas as pd
import numpy as np
%matplotlib inline

from sklearn.metrics import mean_squared_log_error
from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor

In [41]:
%%time
data = pd.read_csv('DATA\c2-9.csv',delimiter=";",decimal=",")

Wall time: 482 ms

In [30]:
data.head()

,NUM,KEYFIELD,CAMPAIGN,COORDLEVEL,"ROUND(AWARDSALES,2)",LOA,STAFF,PREVSTAFF,"ROUND(RETURNSRUR,2)"
0,1,C0100006,N18-02,3,907.52,110,24,29,0.0
1,2,C0100048,N18-02,4,1275.44,110,20,22,-1689.0
2,3,C0100052,N18-02,5,1350.05,110,28,28,0.0
3,4,C0100074,N18-02,5,1742.68,110,39,44,0.0
4,5,C0100082,N18-02,4,1027.26,110,25,28,0.0

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445459 entries, 0 to 445458
Data columns (total 9 columns):
NUM                    445459 non-null int64
KEYFIELD               445459 non-null object
CAMPAIGN               445459 non-null object
COORDLEVEL             445459 non-null int64
ROUND(AWARDSALES,2)    445459 non-null float64
LOA                    445459 non-null int64
STAFF                  445459 non-null int64
PREVSTAFF              445459 non-null int64
ROUND(RETURNSRUR,2)    445459 non-null float64
dtypes: float64(2), int64(5), object(2)
memory usage: 30.6+ MB

In [32]:
data = data.assign(ID=(data['KEYFIELD']).astype('category').cat.codes)

In [33]:
data = data.assign(CAMP=(data['CAMPAIGN']).astype('category').cat.codes)

In [35]:
data.drop(['NUM','KEYFIELD','CAMPAIGN'], axis=1,inplace = True)

In [38]:
data.columns = ['LEVEL', 'AWARD', 'LOA', 'STAFF', 'PREVSTAFF','RETURNS','ID','CAMP']

In [39]:
data.head()

   LEVEL    AWARD  LOA  STAFF  PREVSTAFF  RETURNS   ID  CAMP
0      3   907.52  110     24         29      0.0  392     0
1      4  1275.44  110     20         22  -1689.0  393     0
2      5  1350.05  110     28         28      0.0  394     0
3      5  1742.68  110     39         44      0.0  395     0
4      4  1027.26  110     25         28      0.0  396     0

In [40]:
data.to_csv('DATA/c2_9_prep.csv', encoding='utf-8')