In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

from sklearn.metrics import mean_squared_log_error
from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor

In [2]:
dateparse = lambda x: pd.datetime.strptime(x, '%d.%m.%Y')
data = pd.read_csv('DATA\may.csv',delimiter=";",decimal=",", parse_dates=['DATE_'], date_parser=dateparse)

In [20]:
#data.head()

          ACC      DATE_    SALES  delta  day   id
0     R03021R 2018-05-01  1171.82 0 days    0   74
1     R07196R 2018-05-01  1221.74 0 days    0  155
2     R09453R 2018-05-01  1488.56 0 days    0  195
3     R224482 2018-05-01  1571.74 0 days    0  258
4     R229248 2018-05-01  1264.39 0 days    0  310

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 831383 entries, 0 to 831382
Data columns (total 4 columns):
ACC      831383 non-null object
DATE_    831383 non-null datetime64[ns]
SALES    831383 non-null float64
delta    831383 non-null timedelta64[ns]
dtypes: datetime64[ns](1), float64(1), object(1), timedelta64[ns](1)
memory usage: 25.4+ MB

In [7]:
first_date = data.iloc[0]['DATE_']

In [8]:
data['delta'] = data['DATE_'] - first_date

In [13]:
data['day'] = data.delta.dt.days

In [16]:
data = data.assign(id=(data['ACC']).astype('category').cat.codes)

In [29]:
data.drop(['ACC','DATE_','delta'], axis=1,inplace = True)

In [30]:
data.head()

     SALES  day   id
0  1171.82    0   74
1  1221.74    0  155
2  1488.56    0  195
3  1571.74    0  258
4  1264.39    0  310

In [32]:
data.to_csv('prepared_short.csv', encoding='utf-8')